{% extends 'base.html' %}

{% block content %}
{% include 'partials/_header.html' %}
<div class="patientPage billPage">
    <div class="patientHeader">
        <h1>{{patient.first_name}} > {{patient.last_name}}'s Dashboard</h1>
    </div>
    <article class="content billContent">
        <p>Patient's Name : John Doe</p>
        <p>Payment Method : Cash</p>
        <p>Payment Status : Unpaid/Remaining/Paid</p>
        <ul id="fees">
            <li class="doctor-fee">
                Doctor Filaana Fee: 1000 
            </li>
            <li class="room-fee">
                Room 37 Fee: 1000 
            </li>
            <li class="dropright">
                <a href="#" class= "dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prescription Fee: 1000</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li class="dropdown-item"><a href="#">Midazolam : 500</a></li>
                    <li class="dropdown-item"><a href="#">Brufen : 500</a></li>
                </ul>
            </li>
            <li class="total-fee">
                Total: 3000
            </li>
        </ul>
    </article>
</div>
{% endblock %}