<aside>
    <nav>
        <ul class="sidebarLinks">
            <!-- Display all the links regarding a certain kind of user if he or she is logged in -->
            <li>
                <a href="#">Bill</a>
            </li>
            <li>
                <a href="#">Patient Dashboard</a>
            </li>
            <li class="dropright">
                <a href="#" class= "dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lab Reports</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li class="dropdown-item"><a href="#">Test 1</a></li>
                    <li class="dropdown-item"><a href="#">Test 2</a></li>
                    <li class="dropdown-item"><a href="#">Test 3</a></li>
                </ul>
            </li>
        </ul>
    </nav>

</aside>