<aside>
    <nav>
        <ul class="sidebarLinks">

            <li class="dropright">
                <a href="#" class= "dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Appointment Reports</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li class="dropdown-item"><a href="#">Report 1</a></li>
                    <li class="dropdown-item"><a href="#">Report 2</a></li>
                    <li class="dropdown-item"><a href="#">Report 3</a></li>
                </ul>
            </li>
        </ul>
    </nav>

</aside>