{% extends 'base.html' %} 

{% load static %}

{% block content %}

{% include 'partials/_mid-cover.html' %}
{% include 'partials/_header.html' %}

<div class="mainContent">

    {% include 'partials/_aside.html' %}

    <article class="aboutUs">
        <section>
            <h1>About Us</h1>
                <p class="firstPara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur magni rem accusantium, voluptas est aut voluptatibus illum architecto placeat pariatur iure quibusdam dolorem asperiores repellendus sit non amet, explicabo tenetur?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime nisi nulla atque in eveniet excepturi vitae pariatur id. Eius distinctio adipisci officiis possimus delectus deserunt similique facilis, molestias exercitationem officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quo maiores fugiat voluptates unde delectus temporibus voluptatum porro non? Aliquam eos rem iusto, quam nostrum a expedita! Sit, praesentium nisi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, incidunt delectus. Tenetur consequatur dicta corrupti cum eveniet perferendis ducimus, laboriosam qui est. Sit nostrum quia blanditiis nobis voluptates, quisquam et.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos neque perferendis reiciendis ea. Ducimus hic distinctio, culpa aliquid illum repudiandae enim corporis nostrum mollitia eos harum sapiente placeat quaerat sint?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos maxime laboriosam excepturi provident? Incidunt magni recusandae facere natus doloribus ipsum nostrum minus excepturi, exercitationem iste laborum, odio molestiae doloremque a.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci officiis fuga minus eos odio est. Voluptatibus libero fugit et nesciunt corrupti ex similique ipsam vero, sequi sint repellat beatae. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis temporibus, eveniet aspernatur obcaecati tempora laudantium recusandae eligendi explicabo provident mollitia tenetur repellat saepe ut ipsam? Laudantium libero corporis quod a.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi odio non nemo deleniti, ullam molestias est quibusdam? Placeat veritatis in optio laudantium, recusandae, ut beatae vero minima asperiores id dolorum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum libero quia, nihil quae sunt deleniti modi unde vel, tempore aut ipsam officia laudantium impedit quas natus! Optio repudiandae eveniet repellat.</p>
        </section>
        <section class="admins">
            <div class=" card admin">
                <img src="{% static 'images/placeholders.jpg' %}">
                <div class="card-body">
                    <h2 class="card-title">Mr. Lorem Ipsum</h2>
                    <span class="card-subtitle">CEO of INC INC</span>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos excepturi doloremque molestias, error nemo similique ea laudantium odit perferendis, quibusdam nulla magni facilis. Sint impedit neque doloremque hic a nihil.</p>
                </div>
            </div>
            <div class=" card admin">
                <img src="{% static 'images/placeholder1.jpg' %}">
                <div class="card-body">
                    <h2 class="card-title">Mr. Lorem Ipsum</h2>
                    <span class="card-subtitle">CEO of INC INC</span>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos excepturi doloremque molestias, error nemo similique ea laudantium odit perferendis, quibusdam nulla magni facilis. Sint impedit neque doloremque hic a nihil.</p>
                </div>
            </div>
            <div class=" card admin">
                <img src="{% static 'images/placeholder2.jpg' %}">
                <div class="card-body">
                    <h2 class="card-title">Mr. Lorem Ipsum</h2>
                    <span class="card-subtitle">CEO of INC INC</span>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos excepturi doloremque molestias, error nemo similique ea laudantium odit perferendis, quibusdam nulla magni facilis. Sint impedit neque doloremque hic a nihil.</p>
                </div>
            </div>
        </section>
    </article>
</div>
{% endblock %}