
{% extends 'base.html' %} 
{% load static %}

{% block content %}

{% include 'partials/_mid-cover.html' %}

<article class="homePage">
    <section class="service-cards">
        <div class="card">
            <img src="https://via.placeholder.com/250">
            <div class="card-body">
                <h2 class="card-title">Lorem Ipsum</h2>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta quas aut omnis consequatur , veritatis, in dolorem corrupti repellat, nisi dolor sapiente? Animi, ullam! Ipsum commodi porro, quaerat fuga dolores sed. Lorem ipsum dolor
                    sit amet consectetur, adipisicing elit. Optio, provident laudantium. Quibusdam quos asperiores dolor vitae eligend i iure repudiandae recusandae magni ullam earum? Ullam atque molestias corrupti eos nam sunt?
                </p>
                <button class="btn btn-danger">Learn More</button>
            </div>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/250">
            <div class="card-body">
                <h2 class="card-title">Lorem Ipsum</h2>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus saepe cupiditate accusantium quam, veniam odit corrupti perferendis nemo dolor itaque aspernatur natus non hic vitae? Facere mollitia explicabo in voluptas! Optio, provident laudantium. Quibusdam quos asperiores dolor vitae eligend i iure repudiandae recusandae magni ullam earum? Ullam atque molestias corrupti eos nam sunt?
                </p>
                <button class="btn btn-danger">Learn More</button>
            </div>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/250">
            <div class="card-body">
                <h2 class="card-title">Lorem Ipsum</h2>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro possimus commodi nostrum non iusto quas, quos molestias cum delectus quidem. Dignissimos autem tempore numquam aspernatur dolore voluptate eum harum debitis. ium. Quibusdam quos asperiores dolor vitae eligend i iure repudiandae recusandae magni ullam earum? Ullam atque molestias corrupti eos nam sunt?
                </p>
                <button class="btn btn-danger">Learn More</button>
            </div>
        </div>
    </section>
    <section class="endorsements">
        <div class="row">
            <div class=" card endorsement col-md-3">
                <img src="{% static 'images/placeholders.jpg' %}">
                <div class="card-body">
                    <h2 class="card-title">Mr. Lorem Ipsum</h2>
                    <span class="card-subtitle">CEO of INC INC</span>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos excepturi doloremque molestias, error nemo similique ea laudantium odit perferendis, quibusdam nulla magni facilis. Sint impedit neque doloremque hic a nihil.</p>
                </div>
            </div>
            <div class=" card endorsement col-md-3">
                <img src="{% static 'images/placeholder1.jpg' %}">
                <div class="card-body">
                    <h2 class="card-title">Mr. Lorem Ipsum</h2>
                    <span class="card-subtitle">CEO of INC INC</span>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos excepturi doloremque molestias, error nemo similique ea laudantium odit perferendis, quibusdam nulla magni facilis. Sint impedit neque doloremque hic a nihil.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" card endorsement col-md-3">
                <img src="{% static 'images/placeholder2.jpg' %}">
                <div class="card-body">
                    <h2 class="card-title">Mr. Lorem Ipsum</h2>
                    <span class="card-subtitle">CEO of INC INC</span>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos excepturi doloremque molestias, error nemo similique ea laudantium odit perferendis, quibusdam nulla magni facilis. Sint impedit neque doloremque hic a nihil.</p>
                </div>
            </div>
            <div class=" card endorsement col-md-3">
                <img src="{% static 'images/placedholder3.jpg'%}">
                <div class="card-body">
                    <h2 class="card-title">Mr. Lorem Ipsum</h2>
                    <span class="card-subtitle">CEO of INC INC</span>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos excepturi doloremque molestias, error nemo similique ea laudantium odit perferendis, quibusdam nulla magni facilis. Sint impedit neque doloremque hic a nihil.</p>
                </div>
            </div>
        </div>
    </section>
</article>
<script>
    window.onload = function(){
        
        $('.endorsements .card').hover(
            function(e) {
                child = e.currentTarget.children[1];
                $(child).find('.card-text').css('max-height','500px').css('opacity',1);
            }, 
            function(e) {
                child = e.currentTarget.children[1];
                $(child).find('.card-text').css('max-height',0);
                $(child).find('.card-text').css('opacity',0);
            }
        );
        var oddCards = $(".service-cards .card:nth-child(odd)");
        $(window).scroll(function(e) {

            var scroll = $(window).scrollTop();


            for(var i = 0;i < oddCards.length;i++){
                if (scroll + window.innerHeight > (oddCards[i].offsetTop) && !oddCards[i].classList.contains("bounceInLeft")) {
                    var currElement = oddCards.get(i);
                    currElement.classList.add("bounceInLeft");
                }
            }

        });

        var evenCards = $(".service-cards .card:nth-child(even)");
        $(window).scroll(function(e) {

            var scroll = $(window).scrollTop();
            for(var i = 0;i < evenCards.length;i++){
                if (scroll + window.innerHeight > (evenCards[i].offsetTop) && !evenCards[i].classList.contains("bounceInRight")) {
                    var currElement = evenCards.get(i);
                    currElement.classList.add("bounceInRight");
                }
            }
           
        });
        
    }
</script>


{% endblock %}