
{% extends 'base.html' %} 
{% load static %}

{% block content %}

{% include 'partials/_mid-cover.html' %}

<article>
    <section class="service-cards">
        <div class="service">
            <div class="card-content">
                <h2 class="card-heading"></h2>
                <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta quas aut omnis consequatur , veritatis, in dolorem corrupti repellat, nisi dolor sapiente? Animi, ullam! Ipsum commodi porro, quaerat fuga dolores sed. Lorem ipsum dolor
                    sit amet consectetur, adipisicing elit. Optio, provident laudantium. Quibusdam quos asperiores dolor vitae eligend i iure repudiandae recusandae magni ullam earum? Ullam atque molestias corrupti eos nam sunt?
                </p>
                <button class="Apply for Service">Learn More</button>
            </div>

        </div>
        <div class="service">
            <div class="card-content">
                <h2 class="card-heading"></h2>
                <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta quas aut omnis consequatur , veritatis, in dolorem corrupti repellat, nisi dolor sapiente? Animi, ullam! Ipsum commodi porro, quaerat fuga dolores sed. Lorem ipsum dolor
                    sit amet consectetur, adipisicing elit. Optio, provident laudantium. Quibusdam quos asperiores dolor vitae eligend i iure repudiandae recusandae magni ullam earum? Ullam atque molestias corrupti eos nam sunt?
                </p>
                <button class="Apply for Service">Learn More</button>
            </div>

        </div>
        <div class="service">
            <div class="card-content">
                <h2 class="card-heading"></h2>
                <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta quas aut omnis consequatur , veritatis, in dolorem corrupti repellat, nisi dolor sapiente? Animi, ullam! Ipsum commodi porro, quaerat fuga dolores sed. Lorem ipsum dolor
                    sit amet consectetur, adipisicing elit. Optio, provident laudantium. Quibusdam quos asperiores dolor vitae eligend i iure repudiandae recusandae magni ullam earum? Ullam atque molestias corrupti eos nam sunt?
                </p>
                <button class="Apply for Service">Learn More</button>
            </div>

        </div>
    </section>
    <section class="endorsements">
        <div class="endorsement">
            <img src="https://via.placeholder.com/150">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos excepturi doloremque molestias, error nemo similique ea laudantium odit perferendis, quibusdam nulla magni facilis. Sint impedit neque doloremque hic a nihil.</p>
        </div>
        <div class="endorsement">
            <img src="https://via.placeholder.com/150">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt consectetur quia atque quo, eum hic deserunt fuga reprehenderit. Distinctio, aliquid rerum. Sunt culpa aperiam atque quae, quasi fugiat? Vero, tempora.</p>
        </div>
        <div class="endorsement">
            <img src="https://via.placeholder.com/150">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe quo dignissimos odit quae incidunt hic dicta quia, amet facere eius illum consequatur vitae ipsam nam tempora deserunt reprehenderit ullam dolor.</p>
        </div>
        <div class="endorsement">
            <img src="https://via.placeholder.com/150">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi error tenetur similique ullam natus a, nostrum, cupiditate consequatur, alias dicta tempore fugiat soluta? Accusamus nesciunt delectus veniam provident, sed placeat.</p>
        </div>
    </section>
</article>



{% endblock %}