{% extends 'base.html' %}

{% load static %}


{% block content %}
<main>
  {% include 'partials/_header.html' %}

  <form action="" method="POST" id="register-form">
      
      {% csrf_token %}
      {{ form }}
      
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</main>

<script>
checkbox = document.querySelector('#medicalHistoryBool');
hiddenField = document.querySelector('#hidden-field');
      
checkbox.addEventListener('click',function checkBoxClick(e){
  if(checkbox.checked == true){
    hiddenField.classList.remove("d-none");
    document.querySelector('#hidden-field input').setAttribute("required","");
  } else {
    hiddenField.classList.add("d-none");
    document.querySelector('#hidden-field input').removeAttribute("required");
  }
},false)
</script>
{% endblock %}