/*
* Doctor Dashboad
*/
.docHeader{
    background-color: rgba(127,127,127,0.25);
    text-align: center;
    padding: 3em 0;
    color: black;
    border-bottom-left-radius: 50% 30%;
    border-bottom-right-radius: 50% 30%;
}
.patientHeader{
    background-color: rgba(127,127,127,0.25);
    text-align: center;
    padding: 3em 0;
    border-bottom-left-radius: 0% 0%;
    border-bottom-right-radius: 0% 0%;
}
.patientHeader h1{
    color: black;
}
.docHeader h1{
    color: black;
    margin-bottom: 0;
}

.mainContent.docContent,.mainContent.patientContent{
    padding: 0 2.5em 2.5em;
}

.appointments .card,.recur-patients .card,.upcoming-appointments .card{
    background-color: transparent;
    color: black;
    flex-direction: column;
    border-radius: 50px;
}
.upcoming-appointments .card,.labReports .card{
    background-color: rgba(255,255,255,0.75);
}
.appointments,.recur-patients,.upcoming-appointments{
    margin: 0 0 2em 0.5em;
    display: flex;
    flex-direction: column;
}
.addAppointment {
    align-self: flex-end;
}

.appointment-content,.recur-patient-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 1em 1em 2em;
}
.appointment-text,.recur-patient-text{
    margin-bottom: 2em;
}
.appointments h3,.recur-patients h3,.upcoming-appointments h3{
    background-color: rgba(0, 0, 255, 0.4);
    padding: 1em;
    color: white;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.docContent h2,.patientContent h2{
    background-color: rgba(0, 0, 255, 0.5);
    color: black;
    border-radius: 0 50px 50px 0;

    padding: 0.75em;
}
.patientContent article,.docContent article {
    width: 100%;
}

.medical-report{
    background-color: rgba(255,255,255,0.75);
    padding: 2.5em;
    margin:  2em;  
}
.patientContent .actionable{
    display: flex;
    justify-content: space-between;
}

/*
*Patient Styles
*/
.patientPage > .btn.btn-danger {
    margin: 2.5em 2.5em;
    width: 93%;
    /* margin-right: 2.5em; */
}

.patientPage.billPage .patientHeader{
    margin-bottom: 2em;
}

.billContent{
    padding: 2.5em;
}

#fees,#fees ul{
    list-style-type: none;
}
