main.loginPage,main.register{
    display: flex;
    flex-direction: column;
    background-image: url("../Stock2.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
    color: white;
    background-size: cover;
    height: 92vh;
}

main.register{
    height: auto;
    background-image: url("../supportGroup1.jpg");

}

#register-form,#login-form{
    display: flex;
    flex-direction: column;
    margin: 2em 5em;
    align-self: center;
    width: 50%;
    background-color:rgba(0,0,0,0.75);
    padding: 2.5em;
    border-radius: 50px;
}
#login-form{
    width: 35%;
}
#register-form h1,#login-form h1{
    color: rgb(0, 123, 255);
    align-self: center;
}

#login-form .submitButton,#register-form .submitButton{
    width: 25%;
    align-self: flex-end;
}
#register-form .submitButton{
    margin-top: 1em;
}