/*
 * Globals
 */

/* Links */

a,
a:focus,
a:hover {
    color: #fff;
}


/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #000;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: auto;
}

body {
    color: #000;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}


/*
 * Header
 */

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}


/*
 * Footer
 */

.mastfoot {
    color: rgba(255, 255, 255, .5);
}

.navbar {
    background-color: rgba(255, 0, 0, 0.75);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: black;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
}
.mid-cover{
    background-image: url("../images/Stock2.jpg");
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);

}

.layer {
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.masthead {
    margin-bottom: 0;
}

a.card:hover,a.card:focus{
    color: none;
}
a.card{
    color: #000;
}

.ck-editor__editable_inline {
    min-height: 400px;
}

