{% extends 'base.html' %}

{% load static %}


{% block content %}
{% include 'partials/_mid-cover.html' %}

<article>
    <section class="cards appointments">
        <a href="#" class="card appointment">
                <img href="https://via.placeholder.com/200" class="patient-img"></img>
                <div class="appointment-content">
                    <h3>Patient Name: John Doe</span>
                    <p>Ailment Notes: Complaints of being overly skinny</p>
                    <span>Patient Age: 26</span>
                    <span>Time and Date: 25th Dec 2019, 15:20</span>
                </div>
        </a>
        <a href="#" class="card appointment">
            <img href="https://via.placeholder.com/200" class="patient-img"></img>
            <div class="appointment-content">
                <h3>Patient Name: John Doe</span>
                <p>Ailment Notes: Complaints of being overly skinny</p>
                <span>Patient Age: 26</span>
                <span>Time and Date: 25th Dec 2019, 15:20</span>
            </div>
        </a>
        <a href="#" class="card appointment">
            <img href="https://via.placeholder.com/200" class="patient-img"></img>
            <div class="appointment-content">
                <h3>Patient Name: John Doe</span>
                <p>Ailment Notes: Complaints of being overly skinny</p>
                <span>Patient Age: 26</span>
                <span>Time and Date: 25th Dec 2019, 15:20</span>
            </div>
        </a>
        <a href="#" class="card appointment">
            <img href="https://via.placeholder.com/200" class="patient-img"></img>
            <div class="appointment-content">
                <h3>Patient Name: John Doe</span>
                <p>Ailment Notes: Complaints of being overly skinny</p>
                <span>Patient Age: 26</span>
                <span>Time and Date: 25th Dec 2019, 15:20</span>
            </div>
        </a>
        <a href="#" class="appointment">
            <img href="https://via.placeholder.com/200" class="patient-img"></img>
            <div class="appointment-content">
                <h3>Patient Name: John Doe</span>
                <p>Ailment Notes: Complaints of being overly skinny</p>
                <span>Patient Age: 26</span>
                <span>Time and Date: 25th Dec 2019, 15:20</span>
            </div>
        </a>
    </section>
    <section class="cards recur-patients">
        <a href="#" class="card patient">
            <img href="https://via.placeholder.com/200" class="patient-img"></img>
            <div class="recur-patient-content">
                <h3>Patient Name: John Smith</h3>
                <div class="medical-report">
                    <p>Short Excerpt of Report: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint placeat, quas deleniti, rerum quam quia et reiciendis molestias minima tenetur inventore dignissimos earum? Ratione praesentium nulla voluptate fugiat illum cum.</p>
                    <span>Current Condition: Loreamlkf aklajf</span>
                </div>
                <span>Patient Age: 56</span>
                <span>Next Appointment: 25th Dec 2019, 15:20</span>
                <button><a href="#">View Details</a></button>
            </div>
        </a>
        <a href="#" class="card patient">
            <img href="https://via.placeholder.com/200" class="patient-img"></img>
            <div class="recur-patient-content">
                <h3>Patient Name: John Smith</h3>
                <div class="medical-report">
                    <p>Short Excerpt of Report: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore laborum reprehenderit sunt quae incidunt beatae quasi impedit dolores quidem accusantium, mollitia pariatur ratione, optio praesentium, exercitationem suscipit nostrum inventore architecto.</p>
                    <span>Current Condition: Loreamlkf aklajf</span>
                </div>
                <span>Patient Age: 56</span>
                <span>Next Appointment: 25th Dec 2019, 15:20</span>
                <button><a href="#">View Details</a></button>
            </div>
        </a>
    </section>
</article>

{% endblock %}
