{% extends 'base.html' %}

{% load static %}


{% block content %}
{% include 'partials/_header.html' %}

<div class="docHeader">
    <h1>Dr. {{doctorName}}'s Dashboard</h1>
</div>
<div class="mainContent docContent">
    {% include 'partials/_aside_doctor.html' %}

    <article>
        <h2>Appointments</h2>
        <section class="cards upcoming-appointments">
            {% if docAppointments != null %}

                {% for docAppointment in docAppointments%}
                <div class="card appointment">
                    {% for patient in patients %}
                        {% if docAppointment.patient == patient.pk %}
                            <h3>Patient's Name: {{patient.first_name}} > {{patient.last_name}}</h3>
                            <div class="appointment-content">
                                <div class="appointment-text">
                                    <p>Ailment Notes: {{docAppointment.notes}}</p>
                                    <span>Patient Age: {{patient.age}}</span>
                                    <span>Time and Date: {{docAppointment.time}}</span>
                                </div>
                                <div class="actionable">
                                    <button class="btn btn-danger">Show/Add Report</button>
                                    <button class="btn btn-danger">Show Patient Info</button>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            {% else %}
                
                <p>No Upcoming Appointments in the next 7 days</p>

            {% endif %}
            <a href="#" class="btn btn-danger addAppointment">Show All Appointments</a>
        </section>

        
        <!-- <h2>Recurring Patients</h2>
        <section class="cards recur-patients">
            <div href="#" class="card patient">
                <h3>Patient Name: John Smith</h3>
                <div class="recur-patient-content">
                    <div class="recur-patient-text">
                        <div class="medical-report">
                            <p>Short Excerpt of Report: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint placeat, quas deleniti, rerum quam quia et reiciendis molestias minima tenetur inventore dignissimos earum? Ratione praesentium nulla voluptate fugiat illum cum.</p>
                            <span>Current Condition: Loreamlkf aklajf</span>
                        </div>
                        <span>Patient Age: 56</span>
                        <span>Next Appointment: 25th Dec 2019, 15:20</span>
                    </div>
                    <div class="actionable">
                        <a class="btn btn-danger" href="#">View Medical Report</a>
                    </div>
                </div>
            </div>
            <div href="#" class="card patient">
                <h3>Patient Name: John Smith</h3>
                <div class="recur-patient-content">
                    <div class="recur-patient-text">
                        <div class="medical-report">
                            <p>Short Excerpt of Report: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint placeat, quas deleniti, rerum quam quia et reiciendis molestias minima tenetur inventore dignissimos earum? Ratione praesentium nulla voluptate fugiat illum cum.</p>
                            <span>Current Condition: Loreamlkf aklajf</span>
                        </div>
                        <span>Patient Age: 56</span>
                        <span>Next Appointment: 25th Dec 2019, 15:20</span>
                    </div>
                    <div class="actionable">
                        <a class="btn btn-danger" href="#">View Medical Report</a>
                    </div>
                </div>
            </div>
        </section> -->
    </article>
</div>
{% endblock %}
